body {
    background: rgb(39, 39, 39)
}

.container {
    background: rgb(175, 175, 175)      
}
.container2 {
    background: rgb(165, 35, 35)      
}

table tr td {
    padding: 0.5rem 1rem;
}

.bg-yellow {
    background-color: rgba(28, 85, 2, 0.664);
}

.bg-teal {
    background-color:#1BDFED
}

.bg-purple {
    background-color:#8664BA
}

.bg-green {
    background-color:#1BC91A
}
.textUpsideDown {
    transform: rotate(-180deg);
}

.scalewhilehover {
    transform: scale(1)
}

.scalewhilehover:hover {
    transform: scale(2)
}

.clickbox {
    position: relative;
    background-color: red;
    width: 100px;
    height:50px;
    margin:auto;
    transform: scale(1);
    display:inline-block;
    text-align: center;
    vertical-align:middle;
}

#divRotateBox {
    width:100px;
    height:100px;
    text-align: center;
    background-color:greenyellow;
    border:3px solid black;
    transform:rotate(0deg);
}
div.interest {
    margin-left: 7px;
    line-height: 3.5rem;
    font-size: 30px;
    color:rgb(77,77,77);    
}
div.interestupgrade {
    margin-left: 7px;
    line-height: 1.76rem;
    font-size: 20px;
    color:rgb(77, 77, 77);    
}
div.cpscrit {
    width: 10px;
    height: 100px;
    background: red;
    transition: width 2s;
    display:inline-block;    
    text-align: center;
    vertical-align:middle;
}
div.cpscrit:hover {
    width: 450px;
}

div.investment {
    width: 100px;
    height: 100px;
    background: rgb(20, 6, 153);
    transition: height 2s;
}
div.investment:onclick {
    height: 200px;
}
#progressbar {
    background-color: rgba(0, 2, 146, 0.315);
    width: 0%;
    height: 1.5rem;
    position: absolute;

  }
#progressbarbox {
    width: 100%;
    height: 1.5rem;
    position: relative;
    background-color: #ddd;

  }
.upgraderdy1 {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.8rem 0 0.8rem 1.4rem;
    border-color: transparent transparent transparent #f7ff00;
    
}
.upgraderdy2 {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.8rem 0 0.8rem 1.4rem;
    border-color: transparent transparent transparent #f7ff00;
}
.upgraderdy3 {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.8rem 0 0.8rem 1.4rem;
    border-color: transparent transparent transparent #f7ff00;
}
.upgraderdy4 {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.8rem 0 0.8rem 1.4rem;
    border-color: transparent transparent transparent #f7ff00;
}
#lvlbarbalken {
    background-color: rgb(33, 36, 209);
    width: 0px;
    height: 30px;
    position: absolute;
    margin-bottom: 4px;
  }
  #lvlbarbackground {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #ddd;
    margin-bottom: 4px;
  }

#upgradebarbalken1 {
    background-color: rgb(33, 36, 209);
    width: 0px;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbalken2 {
    background-color: rgb(33, 36, 209);
    width: 0px;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbalken3 {
    background-color: rgb(33, 36, 209);
    width: 0px;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbalken4 {
    background-color: rgb(33, 36, 209);
    width: 0px;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbackground1 {
    width: 15rem;
    height: 0.3rem;
    position: relative;
    background-color: #ddd;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbackground2 {
    width: 15rem;
    height: 0.3rem;
    position: relative;
    background-color: #ddd;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbackground3 {
    width: 15rem;
    height: 0.3rem;
    position: relative;
    background-color: #ddd;
    border-radius: 10px 10px 10px 10px;
  }
  #upgradebarbackground4 {
    width: 15rem;
    height: 0.3rem;
    position: relative;
    background-color: #ddd;
    border-radius: 10px 10px 10px 10px;
  }  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);

    top: 0;
    width: 100%;
}
li {
    float: left;
}
li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: rgb(110, 101, 101);
}
.active {
    background-color: #4CAF50;
}


.ml1 {
    margin-left: 1rem;
}

.wrappercenter {
  position: relative;
  left: 17%;
}
.quest {
    font-size: 15px;
    text-align:center;
    width: 9rem;
    height: 9rem;
    background-color: rgba(96, 139, 98, 0.555);

}
.upgrade{
        font-size: 10px;
        width: 9rem;
        height: 9rem;
        background-color: rgba(245, 65, 236, 0.404);
        border:1px solid black;
}
